/* universal selector use here */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* --------------some common css style use full project start-------------- */
body{
    font-family: 'Work Sans', sans-serif;
}
/* primary title color */
.primary-title-color{
    background: -webkit-linear-gradient(#F948B2, #8758F1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* primary btm here */
.primary-btn{
    background-color: #ff29a2;
    padding: 16px 34px;
    color: #fff;
    border: 0;
    border-radius: 50px;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
}
.primary-desc{
    color: #534C64;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 25px;
    margin: 20px 0;
}
.primary-games-title{
    color: #0B0223;
    font-size: 2.3rem;
}
/* single-text-color */
.single-text-color{
    color: #ff29a2;
}
/* --------------some common css style use full project end-------------- */
/* --header section style use here --*/
/* nav section here */
nav{
    max-width: 1920px;
    padding: 20px 180px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-part{
    display: flex;
    align-items: center;

}
.logo-name{
    color: #0B0223;
    font-size: 1.8rem;
    font-weight: 700;
}
.logo-photo{
    width: 50px;
    margin-right: 10px;

}
.menu{
    display: flex;
    align-items: center;
    gap: 10px;
}
.menu > li{
    list-style: none;
    padding: 12px;
}
.menu > li > a{
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}
.menu > li:hover{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 12px;
    transition: 1s;
}
.active{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 12px;
}
/* banner-section style ues here */
.banner-section{
    padding: 0 180px 0;
    display: flex;
    gap: 50px;
    align-items: center;
    background-image: url(../images/Group\ 14.png);
    background-size: 50%;
    background-repeat: no-repeat;
}
.banner-content{
    width: 541px;
    padding: 65px 0 52px 10px;
}
.banner-sub-title{
    color: #0B0223;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
}
.banner-title{
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase;
}
.banner-list{
    margin-bottom: 26px;
}
.banner-list > li{
    list-style: none;
}
.banner-list > li > a{
    text-decoration: none;
    color: #534C64;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 35px;
}
.single-btn-color{
    margin-left: 15px;
    background-color: #4EC5F7;
}
.banner-images > img{
    width: 400px;
}
/* feature section style use here */
.feature-section{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    padding: 55px 180px 55px;
    display: flex;
    gap: 50px;
    align-items: center;
}
.feature-photo img{
    width: 500px;
}
.feature-content{
    text-align: right;
}
.feature-title{
    font-size: 2.3rem;
}
.feature-some-text{
    display: block;
    color: #534C64;
    font-size: 1rem;
    font-weight: 700;
}
/* blogGames-section style use here */
.blogGames-section{
    padding: 55px 180px 35px;
}
.blog-head{
    text-align: center;
}
.blog-image-area{
    display: flex;
    gap:23px;
}
.blog-item{
    width: 100%;
    max-width: 230px;
    position: relative;
}
.blog-photo{
    width: 230px;
}
.overlay-style{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 74%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%);
    border-radius: 10px;
}
.blog-item:hover .overlay-style{
  opacity: 1;
}
.overlay-icon {
    color: white;
    font-size: 1.4rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.overlay-text{
    text-align: center;
    font-size: 0.8rem;
    font-weight: 600;
    color: #ff29a2;
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* gamesPlay-section style use here */
.gamesPlay-section{
    display: flex;
    padding: 55px 180px 90px;
    align-items: center;
    gap: 187px;
}
.gamesPlay-content{
    width: 360px;
    text-align: right;
}
.gamesPlay-image-area{
    position: relative;
}
.games-img{
    width: 450px;
    height: 600px;
    object-fit: cover;
}
.image-badge img{
    width: 200px;
    position: absolute;
    top: 419px;
    left: -98px;
}
/* team-section style use here */
.team-section{
    padding: 55px 180px 50px;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.team-section a{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #0B0223;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    margin-bottom: 20px;
    border-radius: 50px;
    background: #FFF;
    padding: 5px 7px;
}
.team-section a:hover{
    border: 1px solid #ff29a2;
    padding: 5px 7px;
    color: #ff29a2;
}
.team-section img{
    width: 40px;
}
/* footer section style use here */
footer{
    background: #0B0223;
    padding: 70px 0;
}
.footer-container{
    width: 45%;
    margin: 0 auto;
}
.footer-logo-part{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-logo-text{
    color: #fff;
}
.footer-unoder-list{
    display:grid;
    grid-template-columns: repeat(6,1fr);
    justify-content: center;
    margin-top: 20px;
    gap: 5px;
}
.footer-unoder-list > li{
    list-style: none;
}
.footer-unoder-list > li a{
    text-decoration: none;
    color: #ebebeb;
    font-size: 0.9rem;
    font-weight: 600;
    padding: 5px;
}
.footer-unoder-list > li a:hover{
    border: 1px solid #8585e7;
    padding: 5px;
    border-radius: 5px;
}
.icon-list{
    display:grid;
    grid-template-columns: repeat(4,50px);
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 35px;
    gap: 5px;
}
.icon-list > li{
    list-style: none;
}
.icon-list > li a{
    text-decoration: none;
}
.footer-icon{
    font-size: 25px;
}
.footer-oder-list{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    margin-bottom: 20px;
    gap: 5px;
}
.footer-oder-list > li{
    list-style: none;
    color: #ffffff99;
    font-size: 0.8rem;
}
.copyright-section{
    color: #ffffff99;
    font-size: 0.7rem;
    text-align: center;
}
/* =============Responsive area here================= */
/* ---Mobile device here-------- */
@media screen and (max-width:578px) {
    /* nav area here */
    nav{
        flex-direction: column;
    }
    .menu{
        flex-direction: column;
        width: 200px;
    }
    /* banner section here */
    .banner-section{
        flex-direction: column-reverse;
    }
    .banner-content{
        width: 400px;
        padding: 60px 0 26px 10px;
        background-image: url(../images/Group\ 14.png);
        background-size: 111%;
        background-repeat: no-repeat;
    }
    /* feature section here */
    .feature-section{
        flex-direction: column;
    }
    .feature-photo img {
        width: 400px;
    }
    .feature-content {
        text-align: center;
        width: 350px;
    }
    /* blogGames-section style use here */
    .blogGames-section{
        padding: 0 25px;
    }
    .blog-image-area{
        flex-direction: column;
    }
    .blog-item {
        width: 230px;
        height: 338px;
        margin: auto;
    }
    .overlay-style{
        height: 80%;
        width: 100%;
    }
    .blog-photo{
        width: 230px;
    }
    
    /* gamesPlay-section here */
    .gamesPlay-section{
        flex-direction: column;
        padding: 55px 28px 65px;
        gap: 55px;
    }
    .gamesPlay-image-area{
        padding: 0 50px;
    }
    .gamesPlay-content{
        width: 390px;
        text-align: center;
    }
    .games-img {
        width: 100%;
        height: auto;
    }
    .image-badge img {
        width: 107px;
        top: 183px;
        left: -1px;
    }
    /* team-section style use here */
    .team-section{
        padding: 55px 10px 50px;
        justify-content: center;
        gap: 5px;
    }
    .team-section a{
        gap: 5px;
        font-size: 0.5rem;
    }
    /* footer section use here */
    .footer-unoder-list {
        grid-template-columns: repeat(3,100px);
        gap: 26px;
    }
    .footer-oder-list{
        grid-template-columns: repeat(2,100px);
        gap: 15px;
        padding-left: 50px;
    }
    .footer-oder-list > li{
        font-size: 0.5rem;
    }
    .copyright-section{
        padding: 0 24px;
        font-size: 0.5rem;
    }
}
/* ---Medium device here-------- */
@media screen and (min-width:578px) and (max-width:960px) {
    /* nav area here */
    nav{
        flex-direction: column;
    }
    .menu{
        flex-direction: column;
        width: 200px;
    }
    /* banner section here */
    .banner-section{
        flex-direction: column-reverse;
    }
    .banner-content{
        width: 550px;
        padding: 60px 0 26px 10px;
        text-align: center;
        background-image: url(../images/Group\ 14.png);
        background-size: 111%;
        background-repeat: no-repeat;
    }
    /* feature section here */
    .feature-section{
        flex-direction: column;
    }
    .feature-photo img {
        width: 500px;
    }
    .feature-content {
        text-align: center;
        width: 500px;
    }
    /* blogGames-section style use here */
    .blogGames-section{
        padding: 0 25px;
    }
    .blog-image-area{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .blog-item {
        width: 230px;
        height: 340px;
        margin: 0 auto;
    }
    .overlay-style{
        height: 79%;
        width: 100%;
    }
    .blog-photo{
        width: 230px;
    }
     /* gamesPlay-section here */
    .gamesPlay-section{
        flex-direction: column;
        padding: 55px 28px 65px;
        gap: 55px;
    }
    .gamesPlay-image-area{
        padding: 0 50px;
    }
    .gamesPlay-content{
        width: 560px;
        text-align: center;
    }
    .games-img {
        width: 480px;
        height: auto;
    }
    .image-badge img {
        width: 160px;
        top: 347px;
        left: -19px;
    }
    /* team-section style use here */
    .team-section{
        padding: 55px 10px 50px;
        justify-content:center;
    }
    .team-section a{
        font-size: 0.8rem;
    }
    /* footer section use here */
    .footer-unoder-list {
        grid-template-columns: repeat(3,100px);
        gap: 26px;
    }
    .footer-oder-list{
        grid-template-columns: repeat(2,1fr);
        gap: 15px;
        padding-left: 70px;
    }
    .footer-oder-list > li{
        font-size: 0.5rem;
    }
}